
<div class="message-wrapper row">
  <div class="col-sm-12">
    <div class="message-summary row">
      <div class="col-sm-1">
        <input type="checkbox" id="checkbox-num" class="check-input" name="vehicle">
        <label for="checkbox-num" class="check-label"></label>
        <span class="oi oi-star starred"></span>
      </div>

      <div class="col-sm-2">
        <p class="sender">Mike Jones</p>
      </div>

      <div class="col-sm-8">
        <p class="subject-body-preview"><span class="subject">Ruby Meetup Next Week - </span><span class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit condimentum. Aenean venenatis nibh a vulputate malesuada. Praesent condimentum dui quis pellentesque gravida.</span></p>
      </div>

      <div class="col-sm-1">
        <p class="date">4/29/2018</p>
      </div>
    </div>
  </div>
</div>






<!-- <input type="checkbox" class="form-check-input" name="optionsRadios" id="checkbox-two" value="option2"> -->
<!-- <label for="checkbox-two" class="form-check-label">Checkbox 2</label> -->





<!-- 
<p id="notice">< %= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    < % @messages.each do |message| %>
      <tr>
        <td>< %= message.sender %></td>
        <td>< %= message.receiver %></td>
        <td>< %= message.subject %></td>
        <td>< %= message.body %></td>
        <td>< %= link_to 'Show', message %></td>
        <td>< %= link_to 'Edit', edit_message_path(message) %></td>
        <td>< %= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < % end %>
  </tbody>
</table>

<br>

< %= link_to 'New Message', new_message_path %>
 -->












